.tab-container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.editor {
  .chord-columns, ul.chord{
    display: inline-block;
  }
  .chord-columns {
    input[type='text'] {
      width: 25px;
    }
  }
}