$border-color: #fff;

.tab-container {
  width: 1300px;
  margin: 0 auto;
  text-align: left;
}
.chord-columns, ul.chord, ul.row-names {
  display: inline-block;
}
.editor {
  font-family: 'courier';
  ul.row-names { 
    vertical-align: top;
    li {
      margin-top: 3px;
    }
  }
  .chord-columns {
    width: 95%;
    overflow-y: auto;
    white-space: nowrap;
    .chord {
      li:first-child input[type='text'] {
        background: cornflowerblue;
      }
      &:hover li input[type='text'] {
        background: pink; 
      }
      &:last-child li {
        border-right: 1px solid $border-color; 
      }
      li {
        border-top: 1px solid $border-color;
        border-left: 1px solid $border-color;
        input[type='text'] {
          background: lightblue;
          &:focus {
            background: yellow;
          }
        }
        &:hover input[type='text'] {
          background: yellow; 
        }
        &:last-child {
          border-bottom: 1px solid $border-color;
        }
      }
      input[type='text'] {
        width: 24px;
        border: none;
      }
    }
  }
}

.tab-view {
  font-family: 'courier';
  text-align: left;
  margin-left: 25px;
  .row-names {
    text-align: right;
  }
  ul.chord li {
    width: 11px;
  }
}