.tab-container {
  width: 1300px;
  margin: 0 auto;
  text-align: center;
}
.editor {
  .chord-columns, ul.chord, ul.row-names {
    display: inline-block;
  }
  ul.row-names li {
    margin-bottom: 3px;
  }
  .chord-columns {
    &:last-child .chord li {
      border-right: 1px solid #ddd; 
    }
    .chord {
      li {
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        &:last-child {
          border-bottom: 1px solid #ddd;
        }
      }
      input[type='text'] {
        width: 24px;
        border: none;
      }
    }
  }
}

.tab-view {
  .chord-columns, ul.chord{
    display: inline-block;
  } 
}