<div class='tabs'>
  <div class='editor'>
    <div class='chord-columns' ng-repeat='column in buildArray(45)'>
      <ul class='chord'>
        <li class='chord-name'><input type='text' ng-model='cells["chords"+column]' placeholder='chord'></li>
        <li class='e-string'><input type='text' ng-model='cells["e"+column]' placeholder='e'></li>
        <li class='b-string'><input type='text' ng-model='cells["b"+column]' placeholder='b'></li>
        <li class='g-string'><input type='text' ng-model='cells["g"+column]' placeholder='g'></li>
        <li class='d-string'><input type='text' ng-model='cells["d"+column]' placeholder='d'></li>
        <li class='a-string'><input type='text' ng-model='cells["a"+column]' placeholder='a'></li>
        <li class='E-string'><input type='text' ng-model='cells["E"+column]' placeholder='E'></li>
      </ul>
    </div>
  </div>

  <div class='tab-view'>
    <ul>
      <li class='chord-name'>{{tabs.chord}}</li>
      <li class='e-string'>{{tabs.e}}</li>
      <li class='b-string'>{{tabs.b}}</li>
      <li class='g-string'>{{tabs.g}}</li>
      <li class='d-string'>{{tabs.d}}</li>
      <li class='a-string'>{{tabs.a}}</li>
      <li class='E-string'>{{tabs.E}}</li>
    </ul>
  </div>
</div>